In [1]:
import numpy as np
import pandas as pd

In [2]:
skills=pd.read_csv("skills.csv")

In [3]:
skills

,roll_no,names,skllis
0,1,Sachin Bhaskar Patil,"Communication,Data Analysis,Python,SQL,R Langu..."
1,2,Swapnil Chotu More,"Adaptability,Coding,C,C++,Java,Communication,C..."
2,3,Parag Mohan Patil,"Clearance,Hardware,Analog,Test Equipment,PCB, ..."
3,4,Narendra Asaram Patil,"Technical Skills,Project Management,Calculatio..."
4,5,Amol Sanjay Mahale,"Adaptability,Coding,C,Communication,Data Analy..."
5,6,Computer Engineering,"Adaptability,Coding,C,C++,Java,Communication,C..."
6,7,Data science And Engineering,"Adaptability,Coding,C,Communication,Data Analy..."
7,8,Civil Engineering,"Technical Skills,Project Management,Calculatio..."
8,9,E&TC Engineering,"Clearance,Hardware,Analog,Test Equipment,PCB, ..."

In [4]:
skills.dropna(inplace=True)

In [5]:
skills

,roll_no,names,skllis
0,1,Sachin Bhaskar Patil,"Communication,Data Analysis,Python,SQL,R Langu..."
1,2,Swapnil Chotu More,"Adaptability,Coding,C,C++,Java,Communication,C..."
2,3,Parag Mohan Patil,"Clearance,Hardware,Analog,Test Equipment,PCB, ..."
3,4,Narendra Asaram Patil,"Technical Skills,Project Management,Calculatio..."
4,5,Amol Sanjay Mahale,"Adaptability,Coding,C,Communication,Data Analy..."
5,6,Computer Engineering,"Adaptability,Coding,C,C++,Java,Communication,C..."
6,7,Data science And Engineering,"Adaptability,Coding,C,Communication,Data Analy..."
7,8,Civil Engineering,"Technical Skills,Project Management,Calculatio..."
8,9,E&TC Engineering,"Clearance,Hardware,Analog,Test Equipment,PCB, ..."

In [6]:
u=skills.loc[(skills["roll_no"]==6)]
p=skills.loc[(skills["roll_no"]==7)]
r=skills.loc[(skills["roll_no"]==8)]
t=skills.loc[(skills["roll_no"]==9)]

In [7]:
n=int(input("enter a roll no: "))
if(n<=5):
    c=skills.loc[(skills["roll_no"]==n)]
else:
    print("please enter valid a roll no")

enter a roll no: 1

In [8]:
skills=pd.concat([c,u,p,r,t])
skills

,roll_no,names,skllis
0,1,Sachin Bhaskar Patil,"Communication,Data Analysis,Python,SQL,R Langu..."
5,6,Computer Engineering,"Adaptability,Coding,C,C++,Java,Communication,C..."
6,7,Data science And Engineering,"Adaptability,Coding,C,Communication,Data Analy..."
7,8,Civil Engineering,"Technical Skills,Project Management,Calculatio..."
8,9,E&TC Engineering,"Clearance,Hardware,Analog,Test Equipment,PCB, ..."

In [9]:
skills.reset_index(inplace=True)
skills.drop(skills.columns[0],axis=1, inplace=True)
skills

,roll_no,names,skllis
0,1,Sachin Bhaskar Patil,"Communication,Data Analysis,Python,SQL,R Langu..."
1,6,Computer Engineering,"Adaptability,Coding,C,C++,Java,Communication,C..."
2,7,Data science And Engineering,"Adaptability,Coding,C,Communication,Data Analy..."
3,8,Civil Engineering,"Technical Skills,Project Management,Calculatio..."
4,9,E&TC Engineering,"Clearance,Hardware,Analog,Test Equipment,PCB, ..."

In [10]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=50,stop_words='english')

In [11]:
vector=cv.fit_transform(skills['skllis']).toarray()

In [12]:
vector.shape

(5, 39)

In [13]:
from sklearn.metrics.pairwise import cosine_similarity

In [14]:
similarity = cosine_similarity(vector)

In [15]:
similarity

array([[1.        , 0.34815531, 0.76277007, 0.05698029, 0.        ],
       [0.34815531, 1.        , 0.27386128, 0.21821789, 0.        ],
       [0.76277007, 0.27386128, 1.        , 0.05976143, 0.        ],
       [0.05698029, 0.21821789, 0.05976143, 1.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        , 1.        ]])

In [16]:
def recommend(name):
    index=skills[skills['names']==name].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:2]:
        print(skills.iloc[i[0]].names)

In [17]:
c=print(skills['names'].iloc[0])
c

Sachin Bhaskar Patil

In [19]:
recommend("Sachin Bhaskar Patil")

Data science And Engineering